
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-LSp {
  box-sizing: border-box;
  padding-top: 5.6rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:c51614b4cdc71ce4c9178bf6a93d780b6e3b4ef9');
  position: relative;
  align-items: center;
  display: flex;
  background-repeat: no-repeat;
  background-color: #dccbdd;

  .ai-driven-maze-solver-bot-with-node-mcu-GLU {
    line-height: 1.2125;
    color: #ac9d9d;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.3rem 0.3rem;
    font-size: 6.6rem;
    font-weight: 400;
  }
  .auto-group-axcu-Z4g {
    margin: 0rem 71.9rem 6.8rem 0rem;
    box-sizing: border-box;
    padding: 2.6rem 2.4rem 2rem 2.9rem;
    width: 72.1rem;
    height: 35.2rem;
    background-color: #d9d9d9;
    border-radius: 0 6rem 6rem 0;
    flex-shrink: 0;

    .in-the-realm-of-intelligent-robotics-my-project-unfolds-as-an-ingenious-maze-solving-bot-featuring-four-wheels-powered-by-a-node-mcu-microcontroller-the-bots-navigation-prowess-is-orchestrated-through-a-network-of-infrared-sensors-strategically-emitting-light-in-all-directions-this-design-choice-allows-the-bot-to-discern-the-path-marked-by-a-lack-of-light-reflection-and-embark-on-a-journey-of-intelligent-exploration-3kY {
      font-family: Inter, 'Source Sans Pro';
      max-width: 66.8rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
  }
  .auto-group-3jrs-ync {
    background-color: #d9d9d9;
    border-radius: 6rem 0 0 0;
    flex-shrink: 0;
    margin-left: 72.1rem;
    width: 71.9rem;
    height: 44.2rem;
    position: relative;

    .the-heart-of-the-system-lies-in-the-implementation-of-a-sophisticated-depth-first-search-dfs-algorithm-as-the-bot-traverses-the-maze-it-dynamically-turns-left-utilizing-its-infrared-sensors-to-scrutinize-the-environment-for-unexplored-paths-this-iterative-process-continues-until-the-optimal-path-is-discerned-this-project-showcases-not-only-the-harmonious-fusion-of-hardware-and-software-but-also-highlights-my-commitment-to-pioneering-innovative-solutions-in-the-field-of-robotics-amplifying-the-possibilities-of-ai-driven-navigation-and-problem-solving-7dv {
      height: 41rem;
      position: absolute;
      left: 3.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 65rem;
      top: 3.2rem;
      font-size: 2.6rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .back-arrow-bSc {
      cursor: pointer;
      position: absolute;
      left: 63.2rem;
      top: 36.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 8.7rem;
      height: 6.9rem;
    }
  }
}
