
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-vui {
  padding: 1.7rem 13.1rem 1.7rem 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ece3e3;
  box-sizing: border-box;

  .auto-group-be6g-3jS {
    margin: 0rem 3.8rem 12.2rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .back-arrow-yd6 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 30.2rem;
      width: 10.4rem;
      height: 10rem;
      cursor: pointer;
    }
    .auto-group-1xda-KBA {
      background-color: #c0d4ec;
      border-radius: 1.5rem;
      margin-left: 7.6rem;
      padding: 3.4rem 1.7rem 4.1rem 2.8rem;
      width: 35.6rem;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;

      .irs-RV6 {
        flex-shrink: 0;
        margin: 0rem 1.3rem 3.9rem 0rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .exploring-intelligent-reflecting-surfaces-irs-my-research-focuses-on-harnessing-reflective-elements-to-optimize-wireless-communication-signals-providing-potential-advancements-without-overstating-their-capabilities-Lc4 {
        max-width: 31.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .auto-group-3rte-MXA {
    flex-shrink: 0;
    margin-bottom: 7.2rem;
    width: 46.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-eape-u2t {
      justify-content: center;
      background-repeat: no-repeat;
      font-weight: 400;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      width: 100%;
      color: #ffffff;
      font-size: 6.6rem;
      line-height: 1.2125;
      margin-bottom: 12rem;
      height: 23.2rem;
      background-image: url('REPLACE_IMAGE:11:4');
      flex-shrink: 0;
    }
    .auto-group-hkc8-aPv {
      border-radius: 1.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 2.6rem 7.9rem 2.2rem;
      width: calc(100% - 10.6rem);
      flex-direction: column;
      background-color: #c1e7f7;
      margin: 0rem 7.2rem 0rem 3.4rem;
      align-items: center;
      display: flex;

      .event-voting-machine-55n {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 6.3rem;
      }
      .innovating-election-systems-i-designed-an-event-voting-machine-using-verilog-and-vivado-ensuring-reliability-and-security-in-the-voting-process-CgC {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.5rem;
        max-width: 30.3rem;
        font-size: 2.6rem;
      }
    }
  }
  .auto-group-apon-TME {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    border-radius: 1.5rem;
    flex-shrink: 0;
    margin-top: 28rem;
    padding: 3.4rem 1.1rem 6rem 2.6rem;
    width: 36.2rem;
    flex-direction: column;
    background-color: #cdcff6;

    .ai-maze-solver-bot-kr8 {
      flex-shrink: 0;
      margin: 0rem 2.1rem 5.8rem 0rem;
      font-size: 3.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .navigating-intelligence-i-implemented-various-ai-algorithms-for-maze-solving-with-a-3-wheeler-bot-using-node-mcu-microcontroller-ewW {
      max-width: 32.5rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
}
